<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="velatrix">

    <xacro:include filename="$(find velatrix_description)/urdf/base/base.xacro" />

    <xacro:include filename="$(find velatrix_description)/urdf/leg/leg_1.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/leg/leg_2.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/leg/leg_3.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/leg/leg_4.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/leg/leg_5.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/leg/leg_6.xacro"/> 

    <xacro:include filename="$(find velatrix_description)/urdf/sensor/depth_camera.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/sensor/thermal_camera.xacro"/>
    <xacro:include filename="$(find velatrix_description)/urdf/sensor/lidar.xacro"/>
    
    <xacro:include filename="$(find velatrix_description)/urdf/drone/drone.xacro"/>

    <!-- Include ros2_control -->
    <xacro:include filename="$(find velatrix_description)/urdf/velatrix.ros2_control.xacro" />

    <!-- Include Gazebo configurations   -->
    <xacro:include filename="$(find velatrix_description)/urdf/gazebo.xacro" />

    <!-- ========== ROS2_CONTROL CONFIGURATION ========== -->
    <xacro:velatrix_ros2_control 
        name="VelatrixSystem"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        sim_gazebo="$(arg sim_gazebo)"
        sim_ignition="$(arg sim_ignition)"
        initial_positions_file="$(arg initial_positions_file)"
        joint_limits_file="$(arg joint_limits_file)"
    />

    <xacro:if value="$(arg sim_gazebo)">
        <gazebo>
            <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find velatrix_bringup)/config/hexapod_controller.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>

    <xacro:if value="$(arg sim_ignition)">
        <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find velatrix_bringup)/config/hexapod_controller.yaml</parameters>
        </plugin>
        </gazebo>
    </xacro:if>

</robot>